<template>
  <div class="body-container">
    <div class="facets">

    </div>
    <div class="products">
      <Products />
    </div>
  </div>
</template>

<script>
import Products from './Products.vue'
export default {
  components: { Products },
  name: 'Body',
  emits: ['add-cart']
}
</script>

<style scoped>
  .body-container{
    display: flex;
  }
  .facets{
    width: 30%;
  }
  .products{
    width: 70%;
    border-left: 1px solid #ececec;
  }
</style>