<template>
  <div class="cart-container">
    <img @click="showCart()" src="https://cdn-icons.flaticon.com/png/512/2838/premium/2838895.png?token=exp=1636464010~hmac=0f01ff7aa0ab1d432d81b33b9a9bf2b1" alt="">
    <div class="container-cart-elements">
      <div v-for="product in products" :key="product.id">

      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: 'Cart',
  data() {
    return {
      showList: Boolean,
      productsInCart: Array,

    }
  }, methods: {
    showCart () {
      this.showList = !this.showList;
    }
  },
  computed: {
    products() {
      //wip getProducts and show it
      // return this.$store.products.state.productsCart
    }
  }
}
</script>

<style>
  .cart-container img{
    width: 30px;
  }
</style>  