<template>
  <div class="container-header">
    <div class="row-header">
      <div class="search-logo">
        <img src="https://media.boitas.com/wp-content/uploads/2021/07/logo-empresas.png">
        <input placeholder="¿Qué estás buscando?"/>
      </div>
      <div class="login-cart">
        <Login />
        <Cart />
      </div>
    </div>
    <NavBar />
  </div>
</template>

<script>
import NavBar from './NavBar.vue'
import Login from './Login.vue'
export default {
  components: { Login, NavBar },
  name: 'Header',
}
</script>

<style scoped>
  .container-header{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #ececec
  }
  .row-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .search-logo{
    display: flex;
    width: 40%;
    align-items: center;
  }

  .search-logo img{
    max-height: 4rem;
  }

  .search-logo input{
    border: none;
    background-color: #fafafa;
    padding: .715em!important;
    height: auto;
    min-height: 0;
    border-radius: 8px;
    font-size: 14px;
    color: #666;
    width: 100%;
    line-height: normal;
  }
  .login-cart{
    display: flex;
  }
</style>