<template>
  <div class="login-buttons-container">
    <button class="login">Iniciar sesion</button>
    <button class="register">Registrarme</button>
  </div>
</template>

<script>
export default {
  name: 'Login'
}
</script>

<style scoped>

  button{
    border-radius: 24px;
    font-size: 14px;
    padding: 10px;
    font-weight: 700;
    line-height: 1em;
    background-color: transparent;
    background-image: none;
  }

  .login{
    border: 1px solid #e5e5e5;
    color: #fd4a1f!important;
  }

  .register{
    border: 1px solid #fd4a1f;
    color: #fff!important;
    background-color: #fd4a1f;
  }
</style>