<template>
  <div class="navigation-menu">
    <div class="el-navigation dropdown-menu">
      <div class="text-nav">
        Categorías
      </div>
      <div class="categories-dropdown">
        <div class="category-container" v-for="category in categories.categoryFeed" :key="category.id">
          <div class="category-text">
          {{category.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="el-navigation">
      <div class="text-nav">
        Regalos e incentivos  
      </div>
    </div>

  </div>
</template>

<script>
import gql from 'graphql-tag'

const FETCH_ALL_CATEGORIES_QUERY = gql`
query getCategories($limit: Int, $where: CategoryWhereInput) {
  categories(limit: $limit, where: $where) {
    categoryFeed {
      id
      name
      slug
      __typename
    }
    __typename
  }
}

`

export default {
  name: 'NavBar',
  data() {
    return {
      categories: Object
    }
  },
  apollo: {
    categories: {
      query: FETCH_ALL_CATEGORIES_QUERY,
      prefetch: true,
      variables () {
        return {first: 100}
      }
    }
  },
   watch:{
    categories: function(newVal, oldVal){
      console.log(oldVal, newVal)
    }
  }
}
</script>

<style>
  .navigation-menu{
    display: flex;
  }
  .categories-dropdown{
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    background: #fff;
    padding: 0!important;
    border: 1px solid #e5e5e5!important;
    border-radius: 8px;
    width: auto;
    left: 0;
    position: absolute;
    z-index: 99;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  }
  .dropdown-menu{
    position: relative
  }
  .dropdown-menu:hover > .categories-dropdown{
    visibility: visible;
    opacity: 1;
  }
  .el-navigation {
    color: rgb(107, 114, 128)
  }
  div.text-nav{
    padding: 20px;
  }

.category-text{
  color: #000!important;
    font-weight: 500!important;
    padding: 16px 20px;
    width: 200px;
    display: inline-block;
    cursor: pointer;
    word-wrap: break-word;
}
.category-container{
    opacity: 1!important;
    position: relative;
    border-bottom: 1px solid #e5e5e5!important;
    padding: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.category-container:hover{
  background: #ececec;
}
</style>