<template>
  <div @click="addProduct(product)" class="card-product">
    <img :src="product.images[0].src">
    <div class="name-product">
      {{product.name}}
    </div>
    <div class="envio">
      Envio Gratis en Mexico!
    </div>
    <div class="price">
      ${{product.price}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Product',
  props: {
    product: Object
  },
  methods: {
    addProduct(product){
      this.$store.commit('products/addProduct', product)
    }
  }
}
</script>

<style>
.card-product:hover{
  border-radius: 6px;
    box-shadow: 1px 1px 4px 4px rgb(0 0 0 / 7% )
}
  .card-product{
    width: 23%;
    border-radius: 6px;
    border: 1px solid #e5e5e5!important;
    margin-bottom: 9px;
    box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 10%);
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
    cursor: pointer;
    transition: all 1s ease;
  }
  .card-product img{ 
    width:100%;
  }

  .name-product{
    margin-top: 20px;
    display: -webkit-box;
    overflow: hidden;
    padding: 0!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    color: #000031;
    line-height: 16px;
  }

  .envio{
    color: #21bf5c;
    margin-top: 10px;
    font-family: "DM Sans",Helvetica,Arial,Lucida,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .price{
    font-weight: 700;
    margin-bottom: 10px;
  }
</style>