<template>
  <div class="products-container">
      <Product @add-cart="$emit('add-cart', product)" v-for="product in products.productFeed" :key="product.id" :product="product"/>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import Product from './Product.vue';

const FETCH_PRODUCTS_BY_CATEGORY = gql`
query productCategory($id: ID, $limit: Int) {
    products(limit: $limit, where: { category: $id }) {
        productFeed {
          id
          name
          sku
          slug
          price
          description
          images {
            src
            
          }
        }
    }
}
`


export default {
  components: { Product },
  name: 'Products',
  data() {
    return {
      products: Object
    }
  },
  apollo: {  
    products: {
      query: FETCH_PRODUCTS_BY_CATEGORY,
      prefetch: true,
      variables () {
        return {
          id: '6160b1404713381f609e611f'
        }
      }
    }
  },
  watch:{
    products: function(newVal, oldVal){
      console.log(oldVal, newVal)
    }
  },
  emits: ['add-cart']
}
</script>

<style>
  .products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    /* justify-content: ; */
    width: 85%;
    margin-left: 2%;
    margin-top: 3%;
  }
</style>